<div class="row text-center">
    <div class="col-sm-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Next
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-sm-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>
</div>

<div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
    >
    </mwl-calendar-day-view>
</div>

<br/><br/><br/>

<h3>
    Activities
    <div class="clearfix"></div>
</h3>

<span *ngIf="activities.length == 0">
    No activities
</span>

<span *ngIf="activities.length > 0">
    <div>
        <table class="table table-bordered">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Location</th>
                <th *ngIf="isMember">Action</th>
            </thead>

            <tbody>
                <tr *ngFor="let activity of activities">
                    <td>
                        {{activity.name}}
                    </td>
                    <td>
                        {{activity.description}}
                    </td>
                    <td>
                        {{formatDate(activity.startDate) | date}}
                        <br/>
                        {{formatDate(activity.startDate) | date: 'HH:mm'}}
                    </td>
                    <td>
                        {{formatDate(activity.endDate) | date}}
                        <br/>
                        {{formatDate(activity.endDate) | date: 'HH:mm'}}
                    </td>
                    <td>
                        {{activity.activityStatus}}
                    </td>
                    <td>
                        <a class="badge badge-secondary" style="cursor: pointer; color: white;" (click)="changehref(activity.latitude, activity.longitude)">
                            {{activity.latitude | number:'1.1-6'}},<br/>
                            {{activity.longitude | number:'1.1-6'}}
                        </a>
                    </td>
                    <td *ngIf="isMember">
                        <button class="btn bg-gradient-secondary" rel="tooltip" title="Members" data-toggle="modal" data-target="#modal-user-joined" data-backdrop="static" (click)="clickActivity(activity.activityId)">
                            <i class="fas fa-users"></i>
                        </button>
                        <button class="btn bg-gradient-indigo" rel="tooltip" title="Material Resources" data-toggle="modal" data-target="#modal-material-resources" data-backdrop="static" (click)="clickAllocatedMrp(activity)">
                            <i class="fas fa-cubes"></i>
                        </button>
                        <button class="btn bg-gradient-primary" *ngIf="!hasJoined(activity.activityId)" (click)="joinActivity(activity.activityId)">Join</button>
                        <button class="btn btn-light" *ngIf="hasJoined(activity.activityId)" disabled>Joined</button>
                        <button class="btn bg-gradient-warning"
                          *ngIf="hasJoined(activity.activityId) && activity.activityStatus.toString() == 'COMPLETED'"
                          rel="tooltip" title="Write a review"
                          data-backdrop="static"
                          (click)="clickReview(activity.activityId)">
                          <i class="fas fa-edit"></i>
                      </button>
                        <button class="btn bg-gradient-primary" *ngIf="hasJoined(activity.activityId)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="leaveActivity(activity.activityId)">Leave</a>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</span>

<div class="modal fade" id="modal-user-joined">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Members</h4>
                <button type="button" id="viewUserBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span *ngIf="activitySelected.joinedUsers.length == 0">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><b>Members</b></h5>
                        </div>
                        <li class="list-group-item">
                            There is currently no members in this activity.
                        </li>
                    </div>
                </span>
                <span *ngIf="activitySelected.joinedUsers.length > 0">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><b>Members</b></h5>
                        </div>
                        <ul class="list-group" *ngFor="let member of activitySelected.joinedUsers">
                            <li class="list-group-item" *ngIf="!inContributors(member.userId)">
                                <span>
                                    {{member.firstName}} {{member.lastName}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </span>
                <span *ngIf="contributors.length == 0">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><b>Contributors</b></h5>
                        </div>
                        <li class="list-group-item">
                            There is currently no contributors in this activity.
                        </li>
                    </div>
                </span>
                <span *ngIf="contributors.length > 0">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><b>Contributors</b></h5>
                        </div>
                        <ul class="list-group" *ngFor="let contributor of contributors">
                            <li class="list-group-item" >
                                {{contributor.firstName}} {{contributor.lastName}}
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-material-resources">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Allocated Material Resources</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="allocatedResources.length == 0" style="margin-top: 10px;"> There is currently no allocated material resource at the moment</div>
                <span *ngIf="allocatedResources.length > 0" style="margin-top: 10px; max-height: 500px; overflow-y: scroll;">
                    <span id="allocatedResourceslist" *ngFor="let mrp of allocatedResources; let i = index">
                        <div class="card" style="width: 100%;">
                            <div class="card-header" style="cursor: pointer; " [attr.data-target]="'#openPanel'+ i" data-toggle="collapse">
                                <h6 class="card-title" style="font-size: 20px; margin-top: 5px; color: black;"><b>{{mrp.name}}</b>
                                    <br/>
                                    <span class="text-muted" style="font-size: 15px;">{{mrp.description}}</span>
                                </h6>
                            </div>
                            <div id="openPanel{{i}}" class="collapse show" data-parent="#allocatedResourceslist">
                                <div class="card-body" style="display: block;">
                                    <p style="margin: 0 7px 0 7px; color: black;">
                                        <a class="badge badge-secondary float-right" style="cursor: pointer; color: white;" (click)="changehref(mrp.latitude, mrp.longitude)" target="_blank"> View Location at {{mrp.latitude | number:'1.1-6'}}, {{mrp.longitude | number:'1.1-6'}}</a>
                                        {{activitySelected.allocatedQuantities[mrp.materialResourcePostingId] | number:'1.0-2'}} {{mrp.unit}} allocated
                                        <br/>
                                        <span class="d-flex flex-wrap align-items-stretch" style="margin: 5px 0 0 -8px;" *ngIf="mrp.tags.length > 0">
                                            <div *ngFor="let tag of mrp.tags">
                                                <small class="badge badge-dark ml-2">{{tag.name}}</small>
                                            </div>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<div bsModal #reviewModal = "bs-modal" class="modal fade" id="modal-create-review" >
  <div class="modal-dialog">
      <div class="modal-content bg-info">
          <div class="modal-header">
              <h4 class="modal-title">Write a review</h4>
              <button type="button" id="createReviewModalCloseBtn" class="close" (click) = "hideReviewModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div>
            <label style = "position:relative; left:15px; " >Write review for...</label>
            <div class="radio" *ngFor = "let s of showReviewForm"  style="display: inline; position:relative; left:30px;">
                <label style="padding-right: 10px;">
                    <input type="radio"  name="status" [ngModel] = "'User'" [value] = "s" (click) = "showingReviewForm = s"> {{s}}
                </label>
            </div>
          </div>
            <form *ngIf = "showingReviewForm == 'User' " (ngSubmit)="createNewUserReview(newUserReviewForm)" #newUserReviewForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title *</label>
                        <input type="text" id="Title" class="form-control" placeholder="Enter title" name="title" ngModel  required>
                    </div>

                    <div class="form-group">
                        <label for="review">Review Body *</label>
                        <textarea type="text" id="review" class="form-control" placeholder="Enter Review" name="review" ngModel  required></textarea>
                    </div>

                    <label for="rating">Rating * &nbsp;</label>
                    <div>
                      <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" name = rating></ngb-rating>
                    </div>
                    <div class="select">
                      <label for="toUser">Review User * &nbsp;</label>
                      <select  class="form-control" name = "selectedToUser" placeholder="Review User" ngModel required>
                        <option *ngFor = "let user of reviewsUnwrittenForUsers" [value] = "user.userId" >{{user.firstName}} {{user.lastName}}</option>
                      </select>
                    </div>


                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" (click) = "hideReviewModal()" >Cancel</button>
                    <button type="button" type="submit" class="btn btn-outline-light" [disabled] = "!newUserReviewForm.valid">Write review</button>
                </div>
            </form>

            <Label *ngIf = "showingReviewForm == 'Project' && projectReviewForActivity.length != 0"
            style = "justify-content: center;">
            You have already written a project review for this activity. </Label>

            <form *ngIf = "showingReviewForm == 'Project' && projectReviewForActivity.length == 0" (ngSubmit)="createNewProjectReview(newProjectReviewForm)" #newProjectReviewForm="ngForm">
              <div class="modal-body">
                  <div class="form-group">
                      <label for="titleForProject">Title *</label>
                      <input type="text" id="Title" class="form-control" placeholder="Enter title" name="titleForProject" ngModel  required>
                  </div>

                  <div class="form-group">
                      <label for="reviewForProject">Review Body *</label>
                      <textarea type="text" id="review" class="form-control" placeholder="Enter Review" name="reviewForProject" ngModel  required></textarea>
                  </div>

                  <label for="rating">Rating * &nbsp;</label>
                  <div>
                    <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" name = rating></ngb-rating>
                  </div>
              </div>
              <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-outline-light" (click) = "hideReviewModal()" >Cancel</button>
                  <button type="button" type="submit" class="btn btn-outline-light" [disabled] = "!newProjectReviewForm">Write review</button>
              </div>
          </form>
      </div>
  </div>
</div>
