<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Manage Tags</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/index">Home</a></li>
                        <li class="breadcrumb-item active">Manage Tags</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section class="content">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <app-handle-tag-requests></app-handle-tag-requests>
                        </div>
                        <div class="col-6">
                            <app-manage-tags></app-manage-tags>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- /.content-wrapper -->
<app-footer></app-footer>