<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <div class="alert alert-danger" *ngIf = "accountCreationError">
            <p>{{ errorMessage }}</p>
          </div>
          <div class="alert alert-success" *ngIf = "accountCreated">
            <p>{{ successMessage }}</p>
          </div>
          <div *ngIf ='isLoading' style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
            <form (ngSubmit)="onCreateUser(signUpForm)" #signUpForm="ngForm">
                <h1>Create An Institution Account with KMS!</h1>
                <hr>
                <a href="/signup">Click here to create an user account instead!</a>
                <div class="form-group">
                  <label for="istitutionName">Name of Institution</label>
                  <input type="text" id="istitutionName" class="form-control" ngModel name="istitutionName" required>
                </div>
                <!-- <div class="form-group">
                    <label for="address">Business Address</label>
                    <input type="text" id="address" class="form-control" ngModel name="address" required>
                </div> -->

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="form-control" ngModel name="email" required email
                        #email="ngModel">
                    <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" appAppPassword id="password" class="form-control" ngModel name="password" required
                        #password="ngModel">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" appAppPassword id="confirmPassword" class="form-control" ngModel name="confirmPassword" required
                        #confirmPassword="ngModel">
                    <span class="help-block"
                        *ngIf="password.value != confirmPassword.value && confirmPassword.touched">Password does not
                        match</span>
                </div>
                <hr>
                <div>
                  <a href="/login">Already have an Account?</a>

                  <button class="btn btn-primary" type="submit" style="float: right;"
                    [disabled]="!signUpForm.valid || password.value != confirmPassword.value">Create New
                    Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
