<div class="list-group-item clearfix">
  <span class="pull-left">
    <label for="">From: &nbsp;</label>
    <img *ngIf="review.from.profilePicture" src="review.from.profilePicture" alt=""
    class = "img-responsive"
    style ="max-height: 20px;">
    <img *ngIf="!review.from.profilePicture" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""
    class = "img-responsive"
    style ="max-height: 20px;">
    <a routerLink="/profile/{{review.from.userId}}">
      {{review.from.firstName}} {{review.from.lastName}}
    </a>
  </span>
  <span class="pull-left" *ngIf="review.to != null" >
    <label for="">To: &nbsp;</label>
    <img *ngIf="review.to.profilePicture" src="review.to.profilePicture" alt=""
    class = "img-responsive"
    style ="max-height: 20px;">
    <img *ngIf="!review.to.profilePicture" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""
    class = "img-responsive"
    style ="max-height: 20px;">
    <a routerLink="/profile/{{review.to.userId}}">
      {{review.to.firstName}} {{review.to.lastName}}
    </a>
  </span>
  <span>
    <button type="button" class="btn btn-default btn-sm" style = "float: right;" (click)="onSelectReport(review)"
                        *ngIf="loggedInUserId != review.from.userId">
                        <i class="fas fa-flag"></i> report </button>
  </span>
  <span class="pull-left" *ngIf="review.to == null">
    <label for="">To: &nbsp;</label>
    <a routerLink="/projectDetails/{{review.project.projectId}}/basic-details">
      {{review.project.name}}
    </a>
  </span>
  <div>
    <ngb-rating [max]="5" [(rate)]="review.rating" [readonly]="true" name = rating></ngb-rating>
  </div>
  <hr>
  <div>
    <h4 class = "list-group-item-heading">
      {{review.title}}
    </h4>
    <p class="list-group-item-text">
      {{review.reviewField}}

    </p>

  </div>
</div>
