.overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: inherit;
  height: 50vh;
  object-fit: cover;
  border-radius: 50px;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

button {
  margin: 10px;
}
