<div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p> Please do not select a skill already present in your profile </p>
  <button type="button" class="close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="form-group" *ngIf="loggedInUser.userId == profile.userId">
  <label>Select Skills</label>
  <div class="select2-purple">
    <select class="select2" id="skillselect2" multiple="multiple" data-placeholder="Select skills"
      data-dropdown-css-class="select2-purple" style="width: 100%;">
    </select>
  </div>
  <button type="button" class="btn btn-block btn-default" (click)="submitSkills()">Submit selections</button>
</div>

<label *ngIf="loggedInUser.userId == profile.userId"> My Skills</label>
<label *ngIf="loggedInUser.userId != profile.userId"> {{profile.firstName}} {{profile.lastName}}'s Skills </label>
<br />
<span *ngIf="profile.skills.length == 0 && loggedInUser.userId == profile.userId"> You have no skills at the
  moment.</span>
<span *ngIf="profile.skills.length == 0 && loggedInUser.userId != profile.userId"> {{profile.firstName}}
  {{profile.lastName}} has no skills at the moment.</span>

<span *ngIf="profile.skills.length > 0 && loggedInUser.userId == profile.userId">
  <div *ngFor="let skill of profile.skills">
    <small class="badge badge-warning" (click)="deleteSkill(skill.tagId)">
      {{skill.name}}
      <i class="far fa-times-circle"></i>
    </small>
  </div>
</span>

<span *ngIf="profile.skills.length > 0 && loggedInUser.userId != profile.userId">
  <div *ngFor="let skill of profile.skills">
    <small class="badge badge-warning">
      {{skill.name}}
    </small>
  </div>
</span>