<div class="form-group">
  <label>Multiple (.select2-purple)</label>
  <div class="select2-purple">
    <select class="select2" multiple="multiple" data-placeholder="Select a State"
      data-dropdown-css-class="select2-purple" style="width: 100%;">
      <option>Alabama</option>
      <option>Alaska</option>
      <option>California</option>
      <option>Delaware</option>
      <option>Tennessee</option>
      <option>Texas</option>
      <option>Washington</option>
    </select>
  </div>
</div>

<div *ngFor="let skill of skillTags">
  <small class="badge badge-warning">
    {{skill.name}}
  </small>
</div>

<span *ngIf="user.skills.length == 0"> You have no skills at the moment.</span>

<span *ngIf="user.skills.length > 0">
  <div *ngFor="let skill of user.skills">
    <small class="badge badge-warning">
      {{skill}}
    </small>
  </div>
</span>