<button type="button" class="btn btn-block bg-gradient-info" data-toggle="modal" data-target="#modal-info"
    data-backdrop="static" *ngIf="!shared && loggedInUser.userId == profile.userId">
    Add Material Resource Available
    <i class="fas fa-plus"></i>
</button>
<div class="modal fade" id="modal-info" *ngIf="!shared && loggedInUser.userId == profile.userId">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Add Material Resource Available</h4>
                <button type="button" id="addMraModalCloseBtn" class="close" data-dismiss="modal"
                    (click)="clear(mraForm)" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="createMaterialResourceRequest(mraForm)" #mraForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="mraName">Material Resource Name *</label>
                        <input type="text" id="mraName" class="form-control" [ngModel]="editingMra.name" name="mraName"
                            placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="form-control" [ngModel]="editingMra.description"
                            name="description" placeholder="Enter Description">
                    </div>
                    <div class="form-group">
                        <label>Material Resource Tags *</label>
                        <div class="select2-blue">
                            <select class="select2" id="mraselect2" multiple="multiple"
                                data-placeholder="Select Relevant Tags" data-dropdown-css-class="select2-blue"
                                style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resourceType">Resource Type *</label>
                        <select id="resourceType" class="form-control" [ngModel]="editingMra.type" name="resourceType"
                            required>
                            <option disabled selected>Select Resource Type</option>
                            <optgroup label="One-Time"></optgroup>
                            <option value="ONETIMEDONATION">One-Time Donation</option>
                            <option value="ONETIMEPAYMENT">One-Time Payment</option>
                            <optgroup label="Recurring Subscription">
                                <option value="DAILY">Daily</option>
                                <option value="WEEKLY">Weekly</option>
                                <option value="MONTHLY">Monthly</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-row" *ngIf="mraForm.value.resourceType != 'ONETIMEDONATION' && mraForm.value.resourceType">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="price">Price per Unit *</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">US $</span>
                                    </div>
                                    <input name="price" type="number" class="form-control" id="price" [ngModel]="editingMra.price" 
                                        placeholder="Enter Amount" required>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="units">Units *</label>
                                <select id="units" class="form-control" [ngModel]="editingMra.units" name="units"
                                    required>
                                    <option disabled selected>Select Units</option>
                                    <option value="item(s)">item(s)</option>
                                    <option value="kg">kg</option>
                                    <option value="m">m</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location of Resource</label>
                        <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
                            (mapClick)="click($event)">
                        </google-map>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="latitude">Latitude *</label>
                                <input type="text" id="latitude" class="form-control" [ngModel]="editingMra.latitude"
                                    name="latitude" required readonly>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="longitude">Longitude *</label>
                                <input type="text" id="longitude" class="form-control" [ngModel]="editingMra.longitude"
                                    name="longitude" required readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal"
                        (click)="clear(mraForm)">Close</button>
                    <button type="button" type="submit" class="btn btn-outline-light"
                        [disabled]="!mraForm.valid">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<br *ngIf="!shared && loggedInUser.userId == profile.userId" />
<br *ngIf="!shared && loggedInUser.userId == profile.userId" />
<label *ngIf="!shared && loggedInUser.userId == profile.userId">My Material Resources Available</label>
<label *ngIf="shared || loggedInUser.userId != profile.userId">{{profile.firstName}}
    {{profile.lastName}}'s Material Resources Available</label>
<br />

<span *ngIf="!shared && profile.mras && profile.mras.length == 0 && loggedInUser.userId == profile.userId"> You have no
    material
    resource available
    at the moment.</span>
<span
    *ngIf="profile.mras && ((shared && profile.mras.length == 0) || (profile.mras.length == 0 && loggedInUser.userId != profile.userId))">
    {{profile.firstName}}
    {{profile.lastName}} has no material resource available at the moment.</span>

<span *ngIf="profile.mras && profile.mras.length > 0">
    <div *ngFor="let mra of profile.mras">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-header">
                <div class="card-title">
                    <h5><b>{{mra.name}} </b>
                        <span class="badge badge-pill" style="margin-top: 10px; font-size: 12px; vertical-align: 25%; background-color: bisque;"
                            *ngIf="mra.type == 'ONETIMEDONATION' || mra.type == 'ONETIMEPAYMENT'">ONE-TIME
                        </span>
                        <span class="badge badge-pill" style="margin-top: 10px; font-size: 12px; vertical-align: 27%; background-color: burlywood;"
                            *ngIf="mra.type != 'ONETIMEDONATION' && mra.type != 'ONETIMEPAYMENT'">RECURRING
                        </span>
                    </h5>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" *ngIf="!shared && loggedInUser.userId == profile.userId"
                        (click)="editMra(mra)" data-toggle="modal" data-backdrop="static" data-target="#modal-info">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-tool" *ngIf="!shared && loggedInUser.userId == profile.userId"
                        data-card-widget="remove" (click)="deleteMra(mra.mraId)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-body p-0" style="display: block;">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                    <li class="item">
                        <div class="product-info ml-3 mr-3">
                            <a class="product-title">
                                <span *ngIf="mra.type == 'ONETIMEDONATION'">Free</span>
                                <span *ngIf="mra.type != 'ONETIMEDONATION'">
                                    US ${{mra.price}}/<span *ngIf="mra.units == 'item(s)'">item</span>
                                    <span *ngIf="mra.units != 'item(s)'">{{mra.units}}</span>
                                    <span *ngIf="mra.type == 'DAILY'"> per day</span>
                                    <span *ngIf="mra.type == 'WEEKLY'"> per week</span>
                                    <span *ngIf="mra.type == 'MONTHLY'"> per month</span>
                                </span>
                                <a class="badge badge-secondary float-right" style="cursor: pointer; color: white;"
                                    (click)="changehref(mra.latitude, mra.longitude)" target="_blank"> At location
                                    {{mra.latitude | number:'1.1-6'}}, {{mra.longitude | number:'1.1-6'}}
                                </a>
                            </a>
                            <span class="product-description">
                                {{mra.description}}
                                <span *ngIf="mra.tags.length > 0">
                                    <div *ngFor="let tag of mra.tags">
                                        <small class="badge badge-info">
                                            {{tag.name}}
                                        </small>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </li>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</span>