<div class="container-fluid">
    <form class="form-horizontal" (ngSubmit)="onCreatePost(createPostForm)" #createPostForm="ngForm"
        *ngIf="!newsfeedType || newsfeedType == 'project' && isMember">
        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title">
                    Share Your Thoughts
                </h3>
            </div>
            <div class="card-body pad">
                <div class="mb-3">
                    <textarea class="form-control" rows="3" placeholder="What's on your mind?" [(ngModel)]="postContent"
                        name="postContent"></textarea>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="postPictureFile" ngModel
                                name="postPictureFile" accept="image/*" (change)="getFiles($event)">
                            <label class="custom-file-label" for="postPictureFile">Choose File</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="float-right btn btn-primary" type="submit" [disabled]="!createPostForm.valid">
                    Post</button>
            </div>
        </div>
    </form>

    <span *ngIf="newsfeedPosts && newsfeedPosts.length > 0">
        <div *ngFor="let post of newsfeedPosts">
            <!-- Box Comment -->
            <div class="card card-widget">
                <div class="card-header">
                    <div class="user-block">
                        <img *ngIf="post.postOwner.profilePicture" class="img-circle"
                            [src]="post.postOwner.profilePicture" alt="User Image">
                        <img *ngIf="!post.postOwner.profilePicture" class="img-circle"
                            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            alt="User Image">
                        <span class="username">
                            <a href="#">{{post.postOwner.firstName}}
                                {{post.postOwner.lastName}} </a>
                            <i *ngIf="post.project" class="fas fa-caret-right"></i>
                            <a *ngIf="post.project"> {{post.project.name}}</a>
                        </span>
                        <span class="description">{{post.postDate| date:'dd/MM/yyyy'}}</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool"
                            *ngIf="loggedInUser.userId == post.postOwner.userId"><i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"
                            *ngIf="loggedInUser.userId == post.postOwner.userId || isAdminOrOwner" (click)="deletePost(post.postId)"><i
                                class="fas fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <img *ngIf="post.picture" class="img-fluid pad" [src]="post.picture" alt="Photo"
                        style="display: block; margin-left: auto;margin-right: auto" width=250 height=250>
                        
                    <p>{{post.text}}</p>

                    <div *ngIf="post.originalPost && !post.originalPostDeleted" class="shared-post">
                        <div class="user-block">
                            <img *ngIf="post.originalPost.postOwner.profilePicture" class="img-circle"
                                [src]="post.originalPost.postOwner.profilePicture" alt="User Image">
                            <img *ngIf="!post.originalPost.postOwner.profilePicture" class="img-circle"
                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                alt="User Image">
                            <span class="username">
                                <a href="#">{{post.originalPost.postOwner.firstName}}
                                    {{post.originalPost.postOwner.lastName}} </a>
                                <i *ngIf="post.originalPost.project" class="fas fa-caret-right"></i>
                                <a *ngIf="post.originalPost.project"> {{post.originalPost.project.name}}</a>
                            </span>
                            <span class="description">{{post.originalPost.postDate}}</span>
                        </div>
                        <div class="card-body">
                            <br />
                            <img *ngIf="post.originalPost.picture" class="img-fluid pad"
                                [src]="post.originalPost.picture" alt="Photo"
                                style="display: block; margin-left: auto;margin-right: auto;" width=150 height=150>
                            <br />
                            <p>{{post.originalPost.text}}</p>
                        </div>
                    </div>

                    <div *ngIf="post.originalPostDeleted" class="shared-post">
                        <div class="card-body">
                            <p class="text-muted">The original post have been deleted.</p>
                        </div>
                    </div>

                    <br />
                    <button type="button" class="btn btn-default btn-sm" *ngIf="!userHaveLikedPost(post.postId)"
                        (click)="likePost(post.postId)"><i class="far fa-thumbs-up"></i> like </button>
                    <button type="button" class="btn btn-default btn-sm" *ngIf="userHaveLikedPost(post.postId)"
                        (click)="removeLikeForPost(post.postId)"><i class="fas fa-thumbs-up"></i> liked </button>
                    <button type="button" class="btn btn-default btn-sm" *ngIf="!userHaveSharedPost(post.postId)"
                        data-toggle="modal" data-target="#modal-secondary" (click)="setPostToShare(post.postId)">
                        <i class="fas fa-share"></i> share </button>
                    <button type="button" class="btn btn-default btn-sm" disabled="true"
                        *ngIf="userHaveSharedPost(post.postId)"><i class="fas fa-share"></i> shared </button>
                    <button type="button" class="btn btn-default btn-sm"
                        *ngIf="loggedInUser.userId == post.postOwner.userId" data-toggle="modal"
                        data-target="#modal-default" (click)="setPostToReport(post.postId)">
                        <i class="fas fa-flag"></i> report </button>
                    <span class="float-right text-muted">{{post.likers.length}} likes - {{post.comments.length}}
                        comments - {{post.sharedPosts.length}} shares</span>
                </div>
                <div *ngIf="post.comments && post.comments.length >0" class="card-footer card-comments">
                    <div class="card-comment" *ngFor="let comment of post.comments">
                        <!-- User image -->
                        <img class="img-circle img-sm" *ngIf="!comment.commentOwner.profilePicture"
                            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            alt="User Image">
                        <img class="img-circle img-sm" *ngIf="comment.commentOwner.profilePicture"
                            [src]="comment.commentOwner.profilePicture" alt="User Image">
                        <div class="comment-text">
                            <span class="username">
                                {{comment.commentOwner.firstName}} {{comment.commentOwner.lastName}}
                                <button type="button" class="btn btn-tool float-right"
                                    *ngIf="loggedInUser.userId == comment.commentOwner.userId || isAdminOrOwner" data-toggle="modal"
                                    data-target="#modal-danger" (click)="commentToDeleteId = comment.postCommentId">
                                    <i class="fas fa-times fa-sm"></i>
                                </button>
                                <button type="button" class="btn btn-tool float-right"
                                    (click)="setEditingComment(post.postId, comment.postCommentId)"
                                    *ngIf="loggedInUser.userId == comment.commentOwner.userId">
                                    <i class="fas fa-edit fa-sm"></i>
                                </button>
                                <span class="text-muted float-right"> {{comment.dateTime}} </span>
                            </span><!-- /.username -->
                            <span class="text-muted float-right"
                                *ngIf="!userHaveLikedComment(post.postId, comment.postCommentId)">
                                <button type="button" (click)="likeComment(comment.postCommentId)">
                                    <i class="far fa-thumbs-up fa-lg"></i> like
                                </button>
                                - {{comment.likers.length}} likes
                            </span>
                            <span class="text-muted float-right"
                                *ngIf="userHaveLikedComment(post.postId, comment.postCommentId)">
                                <button type="button" (click)="removeLikeForComment(comment.postCommentId)">
                                    <i class="fas fa-thumbs-up fa-lg"></i> liked
                                </button>
                                - {{comment.likers.length}} likes
                            </span>
                            <div *ngIf="!editingComment || editingComment.postCommentId != comment.postCommentId">
                                {{comment.comment}} </div>
                            <input *ngIf="editingComment && editingComment.postCommentId == comment.postCommentId"
                                [(ngModel)]="editingComment.comment" (keyup.enter)="updateComment()">
                            <small *ngIf="editingComment && editingComment.postCommentId == comment.postCommentId">
                                Press enter to save </small>
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.card-comment -->
                </div>
                <div class="card-footer">
                    <img class="img-fluid img-circle img-sm" *ngIf="loggedInUser.profilePicture"
                        [src]="loggedInUser.profilePicture" alt="Alt Text">
                    <img class="img-fluid img-circle img-sm" *ngIf="!loggedInUser.profilePicture"
                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        alt="Alt Text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                        <input type="text" class="form-control form-control-sm" #box
                            placeholder="Press enter to post comment"
                            (keyup.enter)="addComment(box.value, post.postId)">
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </span>
    <span *ngIf="newsfeedPosts && newsfeedPosts.length == 0">
        No posts yet.
    </span>
</div>

<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Do you want to delete this comment?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-light" (click)="deleteComment(commentToDeleteId)"
                    data-dismiss="modal">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-secondary" *ngIf="postToShare">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h4 class="modal-title">Share {{postToShare.postOwner.firstName}} {{postToShare.postOwner.lastName}}'s
                    Post</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <input placeholder="Say something about this post..." #text style="width: 100%;">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-light" data-dismiss="modal"
                    (click)="sharePost(text.value)">Post</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-default" *ngIf="postToReport && reportTags">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report {{postToReport.postOwner.firstName}}
                    {{postToReport.postOwner.lastName}}'s Post</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Help us understand what is happening, please select your concerns. </p>
                <div class="select2-red">
                    <select class="select2" id="reportnewsfeedselect2" multiple="multiple"
                        data-placeholder="Select concerns" data-dropdown-css-class="select2-red" style="width: 100%;">
                    </select>
                </div>
                <br />
                <textarea class="form-control" id="content" rows="3" placeholder="Elaboration if necessary"
                    [(ngModel)]="report.reportContent"></textarea>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                <button type="button" class="btn btn-primary" (click)="reportPost()"
                    data-dismiss="modal">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>