.button3{
    border: none;
    padding: 12px 20px;
    text-align: center;
    background-color: #e7e7e7; 
    color: black;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.SDGTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.edit-sdg {
  cursor: pointer;
}
