<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link" routerLink="/index">
    <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8"> -->
    <span class="brand-text font-weight-light">KMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-2 mb-2 d-flex justify-content-start">
      <div class="info">
        <a class="d-block text-center" routerLink="/userProfile">
          <h5 class="">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</h5>
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/userProfile">
            <i class="fas fa-user nav-icon"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a class="nav-link">
            <i class="fas fa-search nav-icon"></i>
            <p>
              Discover
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/searchUsers">
                <i class="fas fa-search nav-icon"></i>
                <p>Search Users</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/searchProfiles">
                <i class="fas fa-search nav-icon"></i>
                <p>Search Profiles</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/viewAllProjects">
                <i class="fas fa-search nav-icon"></i>
                <p>Search Projects</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/viewAllGroups">
                <i class="fas fa-search nav-icon"></i>
                <p>Search Groups</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/viewOwnProjects/', loggedInUser.userId]">
            <i class="nav-icon fas fa-hands-helping"></i>
            <p>My Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/viewOwnGroups/', loggedInUser.userId]">
            <i class="nav-icon fas fa-hands-helping"></i>
            <p>My Groups</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notifications">
            <i class="fas fa-bell nav-icon"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sdgInfo">
            <i class="fas fa-bell nav-icon"></i>
            <p>SDG Information</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">
            <i class="fas fa-comment nav-icon"></i>
            <p>Chat</p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="loggedInUser.userType.toString() == 'ADMIN'">
          <a class="nav-link">
            <i class="fas fa-user-shield"></i>
            <p>
              Administration
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">
                <p> Manage Reports</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-manage-tags">
                <p> Manage Tags</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-manage-elections">
                <p> Manage Elections</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/login">
            <i class="fas fa-sign-out-alt nav-icon"></i>
            <p>Logout</p>
          </a>
        </li>
        <button type="button" class="btn btn-warning" routerLink="/donateToPlatform"
          style="margin: 2px;">Donate</button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-make-tag-request"
          style="margin: 2px;">Make Tag
          Request</button>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


<div class="modal fade" id="modal-make-tag-request">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDialogLabel">Make Tag Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="submitTagRequest(tagForm)" #tagForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="tag-request-name">Tag Name</label>
            <input type="text" id="tag-request-name" class="form-control" placeholder="Enter Name" name="name" required
              ngModel>
          </div>
          <label for="requested-tag-type"> Tag Type </label>
          <select id="requested-tag-type" class="form-control" placeholder="Select Tag Types" name="tagType" required
            ngModel>
            <option disabled value="Select Tag Type">Select Tag Type</option>
            <option value="SKILL">Skill</option>
            <option value="SDG">SDG</option>
            <option value="MATERIALRESOURCE">Material Resource</option>
            <option value="REPORTPROFILE">Report Profile</option>
            <option value="REPORTGROUP">Report Group</option>
            <option value="REPORTPROJECT">Report Project</option>
            <option value="REPORTPOST">Report Post</option>
            <option value="REPORTCOMMENT">Report Comment</option>
          </select>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" id="makeTagReqModalCloseBtn" class="btn btn-secondary" data-dismiss="modal"
            (click)="clear(tagForm)">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!tagForm.valid" type="submit">Submit
            Request</button>
        </div>
      </form>
    </div>
  </div>
</div>