<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <ejb-local-ref>
        <ejb-ref-name>UserSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.UserSessionBeanLocal</local>
        <ejb-link>#UserSessionBean</ejb-link>
    </ejb-local-ref>-->
    <!--    <ejb-local-ref>
        <ejb-ref-name>UserSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.UserSessionBeanLocal</local>
        <ejb-link>#UserSessionBean</ejb-link>
    </ejb-local-ref>-->
    <!--    <ejb-local-ref>
        <ejb-ref-name>UserSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.UserSessionBeanLocal</local>
        <ejb-link>#UserSessionBean</ejb-link>
    </ejb-local-ref>-->
    <!--    <ejb-local-ref>
        <ejb-ref-name>ProjectSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.ProjectSessionBeanLocal</local>
        <ejb-link>#ProjectSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GroupSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.GroupSessionBeanLocal</local>
        <ejb-link>#GroupSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PostSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.PostSessionBeanLocal</local>
        <ejb-link>#PostSessionBean</ejb-link>
    </ejb-local-ref>-->
<!--    <ejb-local-ref>
        <ejb-ref-name>PostSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.PostSessionBeanLocal</local>
        <ejb-link>#PostSessionBean</ejb-link>
    </ejb-local-ref>-->
</web-app>
