<form class="form-horizontal" (ngSubmit)="onEditUser(disableForm)" #disableForm="ngForm">
  <div class="form-group row">
    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFirstNameStatus" placeholder="First Name" required disabled
        [ngModel]="user.firstName" name="firstNameStatus">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLastNameStatus" placeholder="Last Name" required disabled
        [ngModel]="user.lastName" name="lastNameStatus">
    </div>
  </div>
  <div>
    <label>Account Status</label>
    <div class = "radio" *ngFor = "let status of settingStatus" style="display: inline; position:relative; left:30px;">
      <label style="padding-right: 10px;">
        <input type = "radio" name = "status" [ngModel] = "user.isActive ? 'Active' : 'Deactive'" [value] = "status">
        {{status}}
      </label>
    </div>
  </div>

  <!-- <div>
    <label>Account Status</label>
    <div class="radio" *ngFor = "let stat of settingStatus"  style="display: inline; position:relative; left:30px;">
        <label style="padding-right: 10px;">
            <input type="radio"  name="stat" [ngModel] = "user.isActive ? 'Active':'Deactive'" [value] = "stat"> {{stat}}
        </label>
    </div>
  </div> -->

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-danger" [disabled]="!disableForm.valid">Submit</button>
    </div>
  </div>
</form>


