<div class="card">
    <div class="card-header">
        <h3 class="card-title"> Recommended Groups To Join </h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <div *ngIf="!hasRecommendations">
            <p style="margin: 5px; text-align: center; width: 100%;"> No recommendations at the moment</p>
        </div>
        <div *ngIf="groupRecoBySDG && groupRecoByFollowing"
            style="max-height: 500px; overflow-y: scroll; color: black;">
            <div *ngFor="let group of groupRecoBySDG" style="max-width:95%">
                <div class="user-block" style="margin: 10px; width: 100%;">
                    <img *ngIf="group.profilePicture" class="img-circle" [src]="group.profilePicture" alt="User Image">
                    <img *ngIf="!group.profilePicture" class="img-circle"
                        src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                        alt="Group Profile Picture">
                    <span class="username">
                        {{group.name}}
                        <span class="badge badge-info" *ngIf="group.isActive"
                            style="width: min-content; font-size: 10px; vertical-align: 30%;">ACTIVE</span>
                        <span class="badge badge-warning" *ngIf="!group.isActive"
                            style="font-size: 10px; vertical-align: 30%;">INACTIVE</span>
                    </span>
                    <span class="description">has relevant SDGs</span>
                </div>
                <div class="card-body">
                    {{group.description}}
                    <p class="text-muted text-sm" style="margin-left: -5px;">
                        <span class="d-flex flex-wrap">
                            <div *ngFor="let sdg of sortSDG(group.sdgs)" class="col-2">
                                <small class="badge badge-dark">
                                    {{sdg.name}}
                                </small>
                            </div>
                        </span>
                    </p>
                    <a routerLink="/groupDetails/{{group.groupId}}">
                        <button type="button" class="btn btn-info btn-block mt-auto" style="font-weight: bold;"> View
                            Group </button>
                    </a>
                    <button type="button" class="btn btn-light btn-block mt-auto" (click)="joinGroup(group)"
                        style="font-weight: bold; background-color: rgba(214, 214, 214, 0.87);"><i
                            class="far fa-handshake"></i> Join</button>
                </div>
            </div>
            <div *ngFor="let groupReco of groupRecoByFollowing" style="max-width:95%">
                <div class="user-block" style="margin: 10px; width:100%">
                    <img *ngIf="groupReco.groupToRecommend.profilePicture" class="img-circle"
                        [src]="groupReco.groupToRecommend.profilePicture" alt="User Image">
                    <img *ngIf="!groupReco.groupToRecommend.profilePicture" class="img-circle"
                        src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                        alt="Group Profile Picture">
                    <span class="username">
                        {{groupReco.groupToRecommend.name}}
                        <span class="badge badge-info" *ngIf="groupReco.groupToRecommend.isActive"
                            style="width: min-content; font-size: 10px; vertical-align: 30%;">ACTIVE</span>
                        <span class="badge badge-warning" *ngIf="!groupReco.groupToRecommend.isActive"
                            style="font-size: 10px; vertical-align: 30%;">INACTIVE</span>
                    </span>
                    <span *ngIf="groupReco.followingInGroup.length == 1" class="description">
                        joined by {{groupReco.followingInGroup[0].firstName}}
                        {{groupReco.followingInGroup[0].lastName}}
                    </span>
                    <span *ngIf="groupReco.followingInGroup.length == 2" class="description">
                        joined by {{groupReco.followingInGroup[0].firstName}}
                        {{groupReco.followingInGroup[0].lastName}}
                        and {{groupReco.followingInGroup[1].firstName}}
                        {{groupReco.followingInGroup[1].lastName}}
                    </span>
                    <span *ngIf="groupReco.followingInGroup.length > 2" class="description">
                        followed by {{groupReco.followingInGroup[0].firstName}}
                        {{groupReco.followingInGroup[0].lastName}},
                        {{groupReco.followingInGroup[1].firstName}}
                        {{groupReco.followingInGroup[1].lastName}} and
                        {{groupReco.followingInGroup.length-2}} others
                    </span>
                </div>
                <div class="card-body">
                    {{groupReco.groupToRecommend.description}}
                    <p class="text-muted text-sm" style="margin-left: -5px;">
                        <span class="d-flex flex-wrap">
                            <div *ngFor="let sdg of sortSDG(groupReco.groupToRecommend.sdgs)" class="col-2">
                                <small class="badge badge-dark">
                                    {{sdg.name}}
                                </small>
                            </div>
                        </span>
                    </p>
                    <a routerLink="/groupDetails/{{groupReco.groupToRecommend.groupId}}">
                        <button type="button" class="btn btn-info btn-block mt-auto" style="font-weight: bold;"> View
                            Group </button>
                    </a>
                    <button type="button" class="btn btn-light btn-block mt-auto"
                        (click)="joinGroup(groupReco.groupToRecommend)"
                        style="font-weight: bold; background-color: rgba(214, 214, 214, 0.87); "><i
                            class="far fa-handshake"></i> Join</button>
                </div>
            </div>
        </div>
    </div>
</div>