<app-header></app-header>
<div class="container">
    <div class="row" >
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <div class="alert alert-danger" *ngIf = "accountCreationError">
            <p>{{ errorMessage }}</p>
          </div>
          <div class="alert alert-success" *ngIf = "accountCreated">
            <p>{{ successMessage }}</p>
          </div>
          <div *ngIf ='isLoading' style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
            <form (ngSubmit)="onCreateUser(signUpForm)" #signUpForm="ngForm">
                <h1>Create An Individual Account with KMS!</h1>
                <hr>
                <a href="/signupInstitution">Click here to create an institution account instead!</a>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" ngModel name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" ngModel name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="form-control" ngModel name="email" required email
                        #email="ngModel">
                    <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input
                    type="date"
                    id="dob"
                    class="form-control"
                    ngModel
                    name = "dob"
                    required
                    [max] = "maxDate">
                    <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid Date of Birth!</span>
                </div>
                <div>
                    <label>Gender</label>
                    <div class="radio" *ngFor = "let gender of genders">
                        <label>
                            <input type="radio" name="gender" ngModel [value] = "gender"> {{gender}}
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" appAppPassword id="password" class="form-control" ngModel name="password" required
                        #password="ngModel">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" appAppPassword id="confirmPassword" class="form-control" ngModel name="confirmPassword" required
                        #confirmPassword="ngModel">
                    <span class="help-block" style="float: right; color: red;"
                        *ngIf="password.value != confirmPassword.value && confirmPassword.touched">Password does not
                        match</span>
                </div>
                <hr>
                <div>
                  <a href="/login">Already have an Account?</a>

                  <button class="btn btn-primary" type="submit" style="float: right;"
                    [disabled]="!signUpForm.valid || password.value != confirmPassword.value">Create New
                    Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
