<button type="button" class="btn btn-block bg-gradient-info" data-toggle="modal" data-target="#modal-info"
    *ngIf="loggedInUser.userId == profile.userId">
    Add Material Resource Available
    <i class="fas fa-plus"></i>
</button>
<div class="modal fade" id="modal-info" *ngIf="loggedInUser.userId == profile.userId">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Add Material Resource Available</h4>
                <button type="button" id="addMraModalCloseBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="createMaterialResourceRequest(mraForm)" #mraForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="mraName">Material Resource Name *</label>
                        <input type="text" id="mraName" class="form-control" ngModel name="mraName" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity"> Quantity *</label>
                        <input type="text" id="quantity" class="form-control" ngModel name="quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="units"> Units *</label>
                        <input type="text" id="units" class="form-control" ngModel name="units" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="form-control" ngModel name="description">
                    </div>
                    <div class="form-group">
                        <label>Material Resource Tags *</label>
                        <div class="select2-blue">
                            <select class="select2" id="mraselect2" multiple="multiple"
                                data-placeholder="Select relevant tags" data-dropdown-css-class="select2-blue"
                                style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location of resource</label>
                        <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
                            (mapClick)="click($event)">
                        </google-map>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude *</label>
                        <input type="text" id="latitude" class="form-control " [ngModel]="lat" name="latitude" required
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude *</label>
                        <input type="text" id="longitude" class="form-control" [ngModel]="lng" name="longitude" required
                            disabled>
                    </div>
                    <div class="form-group my-checkbox">
                        <label> Does your resource expire? </label>
                        <input type="checkbox" id="my-checkbox" name="my-checkbox" data-bootstrap-switch
                            (change)="handleHasExpiryChange()">
                    </div>
                    <div *ngIf="hasExpiry" class="form-group">
                        <label>Start Date:</label>
                        <input type="date" id="startDate" class="form-control" ngModel name="startDate" [min]="minDate"
                            required />
                    </div>
                    <div *ngIf="hasExpiry" class="form-group">
                        <label>End Date:</label>
                        <input type="date" id="endDate" class="form-control" ngModel name="endDate" [min]="minDate" />
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="button" type="submit" class="btn btn-outline-light"
                        [disabled]="!mraForm.valid">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<br />
<br *ngIf="loggedInUser.userId == profile.userId" />
<label *ngIf="loggedInUser.userId == profile.userId">My Material Resources Available</label>
<label *ngIf="loggedInUser.userId != profile.userId">{{profile.firstName}}
    {{profile.lastName}}'s Material Resources Available</label>
<br />

<span *ngIf="profile.mras.length == 0 && loggedInUser.userId == profile.userId"> You have no material resource available
    at the moment.</span>
<span *ngIf="profile.mras.length == 0 && loggedInUser.userId != profile.userId"> {{profile.firstName}}
    {{profile.lastName}} has no material resource available at the moment.</span>

<span *ngIf="profile.mras.length > 0">
    <div *ngFor="let mra of profile.mras">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-header">
                <div class="card-title">
                    <h5><b>{{mra.name}}</b></h5>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-tool" (click)="setEditingMra(mra)" data-toggle="modal"
                        data-target="#modal-default">
                        <i class="fas fa-edit"></i>
                    </button> -->
                    <button type="button" class="btn btn-tool" data-card-widget="remove" (click)="deleteMra(mra.mraId)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-body p-0" style="display: block;">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                    <li class="item">
                        <div class="product-info">
                            <a *ngIf="mra.startDate != null" class="product-title">Available from
                                {{mra.startDate.toString().slice(0,10) | date }} to
                                {{mra.endDate.toString().slice(0,10) | date}}
                                <span class="badge badge-secondary float-right">
                                    At location
                                    {{mra.latitude | number:'1.1-6'}},
                                    {{mra.longitude | number:'1.1-6'}}
                                </span>
                            </a>
                            <a *ngIf="mra.startDate == null" class="product-title">
                                No Expiry Date
                                <span class="badge badge-secondary float-right">
                                    At location
                                    {{mra.latitude | number:'1.1-6'}},
                                    {{mra.longitude | number:'1.1-6'}}
                                </span>
                            </a>
                            <span class="product-description">
                                {{mra.quantity}} {{mra.units}} {{mra.name}}
                                <br />
                                {{mra.description}}
                                <span *ngIf="mra.tags.length > 0">
                                    <div *ngFor="let tag of mra.tags">
                                        <small class="badge badge-info">
                                            {{tag.name}}
                                        </small>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </li>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</span>

<!-- <div class="modal fade" id="modal-info" *ngIf="loggedInUser.userId == profile.userId">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Edit Material Resource Available</h4>
                <button type="button" id="editMraModalCloseBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="editMaterialResourceRequest(editMraForm)" #editMraForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="mraName">Material Resource Name *</label>
                        <input type="text" id="mraName" class="form-control" [ngModel]="editingMra.name" name="mraName"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="quantity"> Quantity *</label>
                        <input type="text" id="quantity" class="form-control" [ngModel]="editingMra.quantity"
                            name="quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="units"> Units *</label>
                        <input type="text" id="units" class="form-control" [ngModel]="editingMra.units" name="units"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="form-control" [ngModel]="editingMra.description"
                            name="description">
                    </div>
                    <div class="form-group">
                        <label>Material Resource Tags *</label>
                        <div class="select2-blue">
                            <select class="select2" id="editmraselect2" multiple="multiple"
                                data-placeholder="Select relevant tags" data-dropdown-css-class="select2-blue"
                                style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location of resource</label>
                        <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
                            (mapClick)="click($event)">
                        </google-map>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude *</label>
                        <input type="text" id="latitude" class="form-control " [ngModel]="lat" name="latitude" required
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude *</label>
                        <input type="text" id="longitude" class="form-control" [ngModel]="lng" name="longitude" required
                            disabled>
                    </div>
                    <div class="form-group my-checkbox">
                        <label for="my-checkbox"> Does your resource expire? </label>
                        <input type="checkbox" id="my-checkbox" name="my-checkbox" data-bootstrap-switch
                            (change)="handleHasExpiryChange()">
                    </div>
                    <div *ngIf="hasExpiry" class="form-group">
                        <label>Start Date:</label>
                        <input type="date" id="startDate" class="form-control" ngModel name="startDate" [min]="minDate"
                            required />
                    </div>
                    <div *ngIf="hasExpiry" class="form-group">
                        <label>End Date:</label>
                        <input type="date" id="endDate" class="form-control" ngModel name="endDate" [min]="minDate" />
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="button" type="submit" class="btn btn-outline-light"
                        [disabled]="!mraForm.valid">Submit</button>
                </div>
            </form>
        </div> -->
<!-- /.modal-content -->
<!-- </div> -->
<!-- /.modal-dialog -->
<!-- </div> -->