<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <h3>Forgot Password</h3>
          <div>
            <p>Please provide a registered email address. Then new password will be sent to this address</p>
          </div>
          <hr>
          <div *ngIf ='isLoading' style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
            <form (ngSubmit)="getNewPassword(forgotPasswordForm)" #forgotPasswordForm="ngForm">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email
                    #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
            <div>
              <a href="/login">Already have an Account?</a>

              <button class="btn btn-primary" type="submit" style="float: right;"
                [disabled]="!forgotPasswordForm.valid">
                Get new Password
              </button>
            </div>
            </form>
            <div *ngIf = "requestSent">
              <p>New Password Sent! Please check your email!</p>
            </div>
        </div>
    </div>
</div>
