<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Real Time Chat</h1>

                    <input type="text" placeholder="Your message.." for="msg" [(ngModel)]="chatMessage">
                    
                    <button (click)="postMessage()">Send message</button>
                    
                    <!-- <div class="list-group" *ngFor="let user of users | async">
                        {{ user.payload.key }}
                    </div> -->

                    <div class="list-group" *ngFor="let msg of messages | async">
                        {{ msg.payload.val().senderName }}: {{ msg.payload.val().msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>