<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Notifications</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Notifications</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <app-follow-requests></app-follow-requests>
        </div>
        <div class="col-md-4">
          <app-affiliation-requests></app-affiliation-requests>
        </div>
        <div class="col-md-4">
          <div class="card" style="height: 60vh; overflow-y: auto;">
            <div class="card-header">
              <h3 class="card-title">Notifications</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="item" style="margin-top: 3%;" *ngIf="notifications.length == 0">
                <h6 class="d-flex justify-content-around">No notifications</h6>
              </div>
              <ul class="list-group" *ngFor="let notification of notifications">
                <li class="list-group-item"  (click)="clickNotification(notification)">  
                  {{notification.msg}}                                   
                </li>                
              </ul>
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>