<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Admin Panel</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/index">Home</a></li>
            <li class="breadcrumb-item active">Admin Panel</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <hr>
  <!-- /.content-header -->
  <div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="admin-tab" role="tablist">
            <!-- <li class="nav-item">
                <a class="nav-link active" id="profile-tab-projects-tabname" data-toggle="pill"
                    href="#profile-tab-projects" role="tab" aria-controls="profile-tab-projects"
                    aria-selected="true">Projects</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link active" id="admin-tab-profile-reports-tabname" data-toggle="pill"
                    href="#admin-tab-profile-reports" role="tab"
                    aria-controls="admin-tab-profile-reports" aria-selected="false">Profile Reports</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">

            <div class="tab-pane fade show active" id="admin-tab-profile-reports" role="tabpanel"
                aria-labelledby="admin-tab-profile-reports-tabname">
                <!-- <app-material-resource-available [profile]="profile" [loggedInUser]="loggedInUser"
                    (profileChanged)="handleProfileChanged($event)">
                </app-material-resource-available> -->
            </div>

        </div>
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>

