<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Manage Reports</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/index">Home</a></li>
            <li class="breadcrumb-item active">Manage Reports</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <div class="card card-primary card-outline card-tabs">
      <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="admin-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="admin-tab-profile-claims-tabname" data-toggle="pill" href="#profile-claims"
              role="tab">Profile Claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admin-tab-profile-reports-tabname" data-toggle="pill" href="#profile-reports"
              role="tab">User Profile Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admin-tab-project-reports-tabname" data-toggle="pill" href="#project-reports"
              role="tab">Project Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admin-tab-project-reports-tabname" data-toggle="pill" href="#group-reports"
              role="tab">Group Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admin-tab-project-reports-tabname" data-toggle="pill" href="#post-reports"
              role="tab">Post Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admin-tab-project-reports-tabname" data-toggle="pill" href="#comment-reports"
              role="tab">Comment Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admin-tab-review-reports-tabname" data-toggle="pill" href="#review-reports"
              role="tab">Review
              Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#upload-profiles" role="tab">Upload Profiles</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
          <div class="tab-pane fade show active" id="profile-claims" role="tabpanel">
            <app-profile-claims></app-profile-claims>
          </div>
          <div class="tab-pane fade" id="profile-reports" role="tabpanel">
            <app-profile-reports></app-profile-reports>
          </div>
          <div class="tab-pane fade" id="project-reports" role="tabpanel">
            <app-project-reports></app-project-reports>
          </div>
          <div class="tab-pane fade" id="group-reports" role="tabpanel">
            <app-group-reports></app-group-reports>
          </div>
          <div class="tab-pane fade" id="post-reports" role="tabpanel">
            <app-post-reports></app-post-reports>
          </div>
          <div class="tab-pane fade" id="comment-reports" role="tabpanel">
            <app-comment-reports></app-comment-reports>
          </div>
          <div class="tab-pane fade" id="review-reports" role="tabpanel">
            <app-review-reports></app-review-reports>
          </div>
          <div class="tab-pane fade" id="upload-profiles" role="tabpanel">
            <app-upload-profiles></app-upload-profiles>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>