<!-- About Me Box -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">About Me</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <strong *ngIf="profile.sdg">Interested SDGs</strong>

    <p class="text-muted" *ngFor="let sdg of profile.sdg">
      sdg
    </p>

    <hr *ngIf="profile.sdg">

    <strong><i class="fas fa-map-marker-alt mr-1"></i> Joined Date</strong>

    <p class="text-muted">{{profile.joinedDate | date}}</p>

    <hr>

    <strong><i class="fas fa-pencil-alt mr-1"></i> Gender</strong>

    <p class="text-muted">{{profile.gender}}</p>

    <hr>

    <strong *ngIf="profile.isAdmin">Administrator</strong>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->