<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="profile-tab" role="tablist">
            <!-- <li class="nav-item">
                <a class="nav-link active" id="profile-tab-projects-tabname" data-toggle="pill"
                    href="#profile-tab-projects" role="tab" aria-controls="profile-tab-projects"
                    aria-selected="true">Projects</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-material-resource-available-tabname" data-toggle="pill"
                    href="#profile-tab-material-resource-available" role="tab"
                    aria-controls="profile-tab-material-resource-available" aria-selected="false">Material Resources
                    Available</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-skills-tabname" data-toggle="pill" href="#profile-tab-skills"
                    role="tab" aria-controls="profile-tab-skills" aria-selected="false">Skills</a>
            </li>
            <li class="nav-item" *ngIf="profile.userId == loggedInUser.userId">
                <a class="nav-link" id="profile-tab-edit-profile-tabname" data-toggle="pill"
                    href="#profile-tab-edit-profile" role="tab" aria-controls="profile-tab-edit-profile"
                    aria-selected="false">Edit Profile</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
            <!-- <div class="tab-pane fade show active" id="profile-tab-projects" role="tabpanel"
                aria-labelledby="profile-tab-projects-tabname">
                <app-projects [user]="profile" (profileChanged)="handleProfileChanged($event)"></app-projects>
            </div> -->
            <div class="tab-pane fade" id="profile-tab-material-resource-available" role="tabpanel"
                aria-labelledby="profile-tab-material-resource-available-tabname">
                <app-material-resource-available [profile]="profile" [loggedInUser]="loggedInUser"
                    (profileChanged)="handleProfileChanged($event)">
                </app-material-resource-available>
            </div>
            <div class="tab-pane fade" id="profile-tab-skills" role="tabpanel"
                aria-labelledby="profile-tab-skills-tabname">
                <app-skills [profile]="profile" [loggedInUser]="loggedInUser"
                    (profileChanged)="handleProfileChanged($event)"></app-skills>
            </div>
            <div class="tab-pane fade" id="profile-tab-edit-profile" role="tabpanel"
                aria-labelledby="profile-tab-edit-profile-tabname">
                <app-edit-profile [user]="loggedInUser" (userChanged)="handleUserChanged($event)"></app-edit-profile>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>