<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="profile-tab" role="tablist">
            <li class="nav-item" *ngIf="shared || profile.userId != loggedInUser.userId">
                <a class="nav-link" id="profile-tab-projects-tabname" data-toggle="pill" href="#profile-tab-projects"
                    role="tab" aria-controls="profile-tab-projects" aria-selected="false">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab-material-resource-available-tabname" data-toggle="pill"
                    href="#profile-tab-material-resource-available" role="tab"
                    aria-controls="profile-tab-material-resource-available" aria-selected="false">Material Resources
                    Available</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-skills-tabname" data-toggle="pill" href="#profile-tab-skills"
                    role="tab" aria-controls="profile-tab-skills" aria-selected="false">Skills</a>
            </li>
            <li class="nav-item" *ngIf="!shared && profile.userId == loggedInUser.userId">
                <a class="nav-link" id="profile-tab-edit-profile-tabname" data-toggle="pill"
                    href="#profile-tab-edit-profile" role="tab" aria-controls="profile-tab-edit-profile"
                    aria-selected="false">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-newsfeed-tabname" data-toggle="pill" href="#profile-tab-newsfeed"
                    role="tab" aria-controls="profile-tab-newsfeed" aria-selected="false" *ngIf="!shared">Newsfeed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-reviews-recieved-tabname" data-toggle="pill"
                    href="#profile-tab-reviews-recieved" role="tab" aria-controls="profile-tab-reviews-recieved"
                    aria-selected="false">Reviews Recived</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-reviews-written-tabname" data-toggle="pill"
                    href="#profile-tab-reviews-written" role="tab" aria-controls="profile-tab-reviews-written"
                    aria-selected="false">Reviews Written</a>
            </li>
            <!-- <li class="nav-item"> -->
            <li class="nav-item" *ngIf="loggedInUser.userType.toString() == 'ADMIN' && !shared">
                <a class="nav-link" id="profile-tab-settings-tabname" data-toggle="pill" href="#profile-tab-settings"
                    role="tab" aria-controls="profile-tab-reviews-setting" aria-selected="false">User Settings</a>
                <!-- <li class="nav-item" *ngIf="profile.userId == loggedInUser.userId"> -->
            <li class="nav-item" *ngIf="!shared && profile.userId == loggedInUser.userId">
                <a class="nav-link" id="profile-tab-job-applied-tabname" data-toggle="pill"
                    href="#profile-tab-job-applied" role="tab" aria-controls="profile-tab-job-applied"
                    aria-selected="false">Job Applied</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
            <div class="tab-pane fade" id="profile-tab-projects" role="tabpanel"
                aria-labelledby="profile-tab-projects-tabname">
                <!-- <app-projects [profile]="profile" (profileChanged)="handleProfileChanged($event)"></app-projects> -->
                <app-projects [shared]="shared" [profile]="profile" (profileChanged)="handleProfileChanged($event)">
                </app-projects>
            </div>
            <div class="tab-pane fade show active" id="profile-tab-material-resource-available" role="tabpanel"
                aria-labelledby="profile-tab-material-resource-available-tabname">
                <app-material-resource-available [shared]="shared" [profile]="profile" [loggedInUser]="loggedInUser"
                    (profileChanged)="handleProfileChanged($event)">
                </app-material-resource-available>
            </div>
            <div class="tab-pane fade" id="profile-tab-skills" role="tabpanel"
                aria-labelledby="profile-tab-skills-tabname">
                <app-skills [shared]="shared" [profile]="profile" [loggedInUser]="loggedInUser"
                    (profileChanged)="handleProfileChanged($event)"></app-skills>
            </div>
            <div class="tab-pane fade" id="profile-tab-edit-profile" role="tabpanel"
                aria-labelledby="profile-tab-edit-profile-tabname">
                <app-edit-profile [user]="loggedInUser" (userChanged)="handleUserChanged($event)"></app-edit-profile>
            </div>
            <div class="tab-pane fade" id="profile-tab-newsfeed" role="tabpanel"
                aria-labelledby="profile-tab-newsfeed-tabname">
                <app-newsfeed
                    *ngIf="shared || profile.userId == loggedInUser.userId || loggedInUser.userType == UserType.ADMIN
                || profile.accountPrivacySetting == AccountPrivacySettingEnum.PUBLIC || loggedInUserIsFollowerOfProfile"
                    newsfeedType="profile" id="{{profile.userId}}"></app-newsfeed>
                <p
                    *ngIf="!shared && profile.userId != loggedInUser.userId && loggedInUser.userType != UserType.ADMIN
                && profile.accountPrivacySetting == AccountPrivacySettingEnum.PRIVATE && !loggedInUserIsFollowerOfProfile">
                    {{profile.firstName}} {{profile.lastName}} is a private account. Newsfeed may only be seen by
                    followers. </p>
            </div>
            <div class="tab-pane fade" id="profile-tab-reviews-recieved" role="tabpanel"
                aria-labelledby="profile-tab-reviews-recieved-tabname">
                <app-reviews-recieved [profile]="profile" [loggedInUser]="loggedInUser"
                    (userChanged)="handleUserChanged($event)"></app-reviews-recieved>
            </div>
            <div class="tab-pane fade" id="profile-tab-reviews-written" role="tabpanel"
                aria-labelledby="profile-tab-reviews-written-tabname">
                <app-reviews-written [profile]="profile" [loggedInUser]="loggedInUser"
                    (userChanged)="handleUserChanged($event)"></app-reviews-written>
            </div>
            <div class="tab-pane fade" id="profile-tab-settings" role="tabpanel" aria-labelledby="profile-tab-settings">
                <app-user-setting [user]="profile"></app-user-setting>
            </div>
            <div class="tab-pane fade" id="profile-tab-job-applied" role="tabpanel"
                aria-labelledby="profile-tab-job-applied-tabname">
                <app-job-applied></app-job-applied>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>