<span *ngIf="noMrp">There is no material resource posting at the moment.</span>

<span *ngIf="!noMrp">
    <div style="margin-bottom: 15px;">
        <!-- <button type="button" class="btn bg-gradient-info mr-2"><i class="fas fa-check"></i> Fulfill Posting</button> -->
        <button type="button" class="btn bg-gradient-info"><i class="fas fa-user-alt"></i> My Fulfillments</button>
    </div>
    <div id="list" *ngFor="let mrp of mrpList">
        <div class="card" style="width: 100%;">
            <div class="card-header" >
                <div class="row">
                    <div class="col-11" style="cursor: pointer; " data-target="#collapsedBody" data-toggle="collapse">
                        <h5 class="card-title" style="font-size: 20px; margin-top: 10px;"><b>{{mrp.name}}</b></h5> 
                    </div>
                    <div class="col-1">
                    <button type="button" class="btn bg-gradient-primary float-right" (click)="clickFulfill(mrp)" data-toggle="modal" data-target="#modal-fulfill-posting" data-backdrop="static" style="margin-top: 5px; margin-right: 10px; z-index: 10;">Fulfill</button> 
                    </div>
                </div> 
            </div>
            <div id="collapsedBody" class="collapse show" data-parent="#list">
                <div class="card-body" style="display: block;">
                    <p style="margin: 0 7px 0 7px;">
                        <b>Required from {{mrp.startDate.toString().slice(0,10) | date }} to {{mrp.endDate.toString().slice(0,10) | date }}</b> 
                        <a class="badge badge-secondary float-right" style="cursor: pointer; color: white;" (click)="changehref(mrp.latitude, mrp.longitude)" target="_blank"> View Location at {{mrp.latitude | number:'1.1-6'}}, {{mrp.longitude | number:'1.1-6'}}</a>
                        <br/>
                        {{mrp.lackingQuantity | number:'1.0-2'}} {{mrp.unit}} required / {{mrp.totalQuantity | number:'1.0-2'}} {{mrp.unit}} total
                        <br/>
                        <span class="text-muted" style="font-size: 15px;">{{mrp.description}}</span>
                        <br/>
                        <span class="d-flex flex-wrap align-items-stretch" style="margin: 5px 0 0 -8px;" *ngIf="mrp.tags.length > 0">
                            <div *ngFor="let tag of mrp.tags">
                                <small class="badge badge-dark ml-2">{{tag.name}}</small>
                            </div>
                        </span>
                    </p>
                </div>
            </div>    
        </div>
    </div>
</span>

<div class="modal fade" id="modal-fulfill-posting">
    <div class="modal-dialog " role="document">
        <div class="modal-content bg-gradient-info">
            <div class="modal-header">
                <h4 class="modal-title">Fulfill Posting</h4>
                <button type="button" class="close" (click)="cancel()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="!mraToDonate" class="select-mra">
                <div class="modal-body">
                    <b style="font-size: 18px;">Select Material Resource Available to Donate</b>
                    <div style="margin-top: 5px; max-height: 500px; overflow-y: scroll;">
                        <div id="mralist" *ngFor="let mra of mraList; let i = index">
                            <div class="card" style="width: 100%;">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-11" style="cursor: pointer; " [attr.data-target]="'#openPanel'+ i" data-toggle="collapse">
                                            <h6 class="card-title" style="font-size: 20px; margin-top: 10px; color: black;"><b>{{mra.name}}</b></h6> 
                                        </div>
                                        <div class="col-1">
                                        <button type="button" class="btn bg-gradient-primary float-right" (click)="clickSelect(mra)" style="margin-top: 5px; margin-right: 10px; z-index: 10;">Select</button> 
                                        </div>
                                    </div> 
                                </div>
                                <div id="openPanel{{i}}" class="collapse" data-parent="#mralist">
                                    <div class="card-body" style="display: block;">
                                        <p style="margin: 0 7px 0 7px; color: black;">
                                            <b *ngIf="mra.startDate != null">Available from {{mra.startDate.toString().slice(0,10) | date }} to {{mra.endDate.toString().slice(0,10) | date }}</b> 
                                            <b *ngIf="mra.startDate == null">No Expiry Date</b> 
                                            <a class="badge badge-secondary float-right" style="cursor: pointer; color: white;" > At location {{mra.latitude | number:'1.1-6'}}, {{mra.longitude | number:'1.1-6'}}</a>
                                            <br/>
                                            {{mra.quantity | number:'1.0-2'}} {{mra.units}} available
                                            <br/>
                                            <span class="text-muted" style="font-size: 15px;">{{mra.description}}</span>
                                            <br/>
                                            <span class="d-flex flex-wrap align-items-stretch" style="margin: 5px 0 0 -8px;" *ngIf="mra.tags.length > 0">
                                                <div *ngFor="let tag of mra.tags">
                                                    <small class="badge badge-dark ml-2">{{tag.name}}</small>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" (click)="cancel()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <div id="selectedMra" *ngIf="mraToDonate" class="select-quantity">
                <div class="modal-body">
                    <b style="font-size: 18px">Selected Material Resource Available</b>
                    <div class="card" style="width: 100%; margin-top: 5px;">
                        <div class="card-header" style="cursor: pointer;" data-target="#selectedBody" data-toggle="collapse">
                            <h6 class="card-title" style="font-size: 20px; margin-top: 5px; color: black;"><b>{{mraToDonate.name}}</b></h6> 
                        </div>
                        <div id="selectedBody" class="collapse" data-parent="#selectedMra">
                            <div class="card-body" style="display: block;">
                                <p style="margin: 0 7px 0 7px; color: black;">
                                    <b *ngIf="mraToDonate.startDate != null">Available from {{mraToDonate.startDate.toString().slice(0,10) | date }} to {{mraToDonate.endDate.toString().slice(0,10) | date }}</b> 
                                    <b *ngIf="mraToDonate.startDate == null">No Expiry Date</b> 
                                    <a class="badge badge-secondary float-right" style="cursor: pointer; color: white;" > At location {{mraToDonate.latitude | number:'1.1-6'}}, {{mraToDonate.longitude | number:'1.1-6'}}</a>
                                    <br/>
                                    {{mraToDonate.quantity | number:'1.0-2'}} {{mraToDonate.units}} available
                                    <br/>
                                    <span class="text-muted" style="font-size: 15px;">{{mraToDonate.description}}</span>
                                    <br/>
                                    <span class="d-flex flex-wrap align-items-stretch" style="margin: 5px 0 0 -8px;" *ngIf="mraToDonate.tags.length > 0">
                                        <div *ngFor="let tag of mraToDonate.tags">
                                            <small class="badge badge-dark ml-2">{{tag.name}}</small>
                                        </div>
                                    </span>
                                </p>
                            </div>
                        </div>    
                    </div>
                    <b style="font-size: 18px">Quantity To Donate</b>
                    <br/>
                    <input type="number" id="quantity" name="quantity" [max]="maxQuantity" [(ngModel)]="quantityToDonate" (input)="onChange($event.target.value)" required>
                    <b> {{mraToDonate.units}}</b>
                    <span *ngIf="!standardConversion">
                        <b> / {{mrpToFulfill.lackingQuantity | number:'1.0-2'}} {{mrpToFulfill.unit}} required</b>
                    </span>
                    <span *ngIf="standardConversion">
                        <b> = {{convertedQuantityToDonate | number:'1.0-2'}} {{mrpToFulfill.unit}} / {{mrpToFulfill.lackingQuantity | number:'1.0-2'}} {{mrpToFulfill.unit}} required</b> 
                        <br/>   
                        (1 {{this.mraToDonate.units}} = {{standardConversion | number:'1.0-2'}} {{this.mrpToFulfill.unit}})
                    </span>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" (click)="cancel()">Back</button>
                    <button type="button" class="btn btn-outline-light" (click)="submit()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
