<span *ngIf="noMrp">There is no material resource posting at the moment.</span>

<span *ngIf="!noMrp">
    <div *ngFor="let mrp of mrpList">
        <div class="card" style="width: 100%;" >
            <div class="card-header">
                <h5 class="card-title" style="font-size: 20px; margin-top: 7px;"><b>{{mrp.name}}</b>
                <br/>
                <span class="text-muted" style="font-size: 15px;">{{mrp.description}}</span>
                </h5> 
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display: block; color: rgb(44, 44, 44);">
                <p style="margin: 0 7px 0 7px;">
                    <b>Quantity:</b> {{mrp.lackingQuantity}} {{mrp.unit}} (required)<span class="text-muted"> / {{mrp.totalQuantity}} {{mrp.unit}} (total)</span>
                    <span class="badge badge-secondary float-right"> At location {{mrp.latitude | number:'1.1-6'}}, {{mrp.longitude | number:'1.1-6'}}</span>
                    <br/>
                    <b>Date:</b> {{mrp.startDate.toString().slice(0,10) | date }} - {{mrp.endDate.toString().slice(0,10) | date }}
                    <br/>  
                    <span class="d-flex flex-wrap align-items-stretch" style="margin: 5px 0 0 -8px;" *ngIf="mrp.tags.length > 0">
                        <div *ngFor="let tag of mrp.tags">
                            <small class="badge badge-info ml-2">{{tag.name}}</small>
                        </div>
                    </span>
                </p>
            </div>
        </div>
    </div>
</span>
