<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <div class="alert alert-danger" *ngIf = "loginError">
            <p>{{ errorMessage }}</p>
          </div>
          <div *ngIf ='isLoading' style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
            <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf = "!isLoading">
                <hr>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="form-control" ngModel name="email" required email
                        #email="ngModel">
                    <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid
                        email!</span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" appAppPassword id="password" class="form-control" ngModel name="password" required
                        #password="ngModel">
                </div>
                <hr>
                <div>
                  <div>
                    <a href="/signup">Sign up now!</a>
                    <button class="btn btn-success" type="submit" style="float:right;">Login</button>
                  </div>
                  <div>
                    <a href="/forgotPassword">I forgot my password</a>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
