<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">SDG Information</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">SDG Information</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
          SDG Information
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">SDG 1</dt>
          <dd class="col-sm-8">No Poverty</dd>
          <dt class="col-sm-4">SDG 2</dt>
          <dd class="col-sm-8">Zero Hunger</dd>
          <dt class="col-sm-4">SDG 3</dt>
          <dd class="col-sm-8">Good Health and Well-Being</dd>
          <dt class="col-sm-4">SDG 4</dt>
          <dd class="col-sm-8">Quality Education</dd>
          <dt class="col-sm-4">SDG 5</dt>
          <dd class="col-sm-8">Gender Equality</dd>
          <dt class="col-sm-4">SDG 6</dt>
          <dd class="col-sm-8">Clean Water and Sanitation</dd>
          <dt class="col-sm-4">SDG 7</dt>
          <dd class="col-sm-8">Affordable and Clean Energy</dd>
          <dt class="col-sm-4">SDG 8</dt>
          <dd class="col-sm-8">Decent Work and Economic Growth</dd>
          <dt class="col-sm-4">SDG 9</dt>
          <dd class="col-sm-8">Industry, Innovation and Infrastructure</dd>
          <dt class="col-sm-4">SDG 10</dt>
          <dd class="col-sm-8">Reduced Inequalities</dd>
          <dt class="col-sm-4">SDG 11</dt>
          <dd class="col-sm-8">Sustainable Cities and Communities</dd>
          <dt class="col-sm-4">SDG 12</dt>
          <dd class="col-sm-8">Responsible Consumption and Production</dd>
          <dt class="col-sm-4">SDG 13</dt>
          <dd class="col-sm-8">Climate Action</dd>
          <dt class="col-sm-4">SDG 14</dt>
          <dd class="col-sm-8">Life Below Water</dd>
          <dt class="col-sm-4">SDG 15</dt>
          <dd class="col-sm-8">Life on Land</dd>
          <dt class="col-sm-4">SDG 16</dt>
          <dd class="col-sm-8">Peace, Justice and Strong Institutions</dd>
          <dt class="col-sm-4">SDG 17</dt>
          <dd class="col-sm-8">Partnership for the Goals</dd>
        </dl>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<app-footer></app-footer>