<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">SDG Information</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">SDG Information</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
          SDG Information
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">SDG 1</dt>
          <dd class="col-sm-8">A description list is perfect for defining terms.</dd>
          <dt class="col-sm-4">SDG 2</dt>
          <dd class="col-sm-8">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget metus.</dd>
          <dt class="col-sm-4">SDG 3</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 4</dt>
          <dd class="col-sm-8">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa
            justo
            sit amet risus.
          </dd>
          <dt class="col-sm-4">SDG 5</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 6</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 7</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 8</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 9</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 10</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 11</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 12</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 13</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 14</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 15</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 16</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt class="col-sm-4">SDG 17</dt>
          <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<app-footer></app-footer>