<div class="info-box" data-toggle="modal" data-target="#modal-default" style="cursor: pointer;">
    <span class="info-box-icon bg-danger">
        <i class="fas fa-flag"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-number">Report {{profile.firstName}} {{profile.lastName}}'s Profile</span>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report {{profile.firstName}} {{profile.lastName}}'s Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Help us understand what is happening, please select your concerns. </p>
                <div class="select2-red">
                    <select class="select2" id="reportselect2" multiple="multiple" data-placeholder="Select concerns"
                        data-dropdown-css-class="select2-red" style="width: 100%;">
                    </select>
                </div>
                <br />
                <textarea class="form-control" id="content" rows="3" placeholder="Elaboration if necessary"
                    [(ngModel)]="content"></textarea>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>